*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  img{
    height:200px;
    width: 200px;
  }
.one{
  margin-top: 40px;
}
.two{
  margin-left:  100px;
  padding-top: 30px;
}
.three{
  width: 600px;
  height: 100px;
  text-align: center;
}
.product{
  display: flex;
  justify-content: center;
    margin-top: 30px;
}
.loading-indicator{
  
    width: 100%;
    height: 4px;
    background-Color: '#007bff';
    transition: 'width 0.1s ease';

}
